<mat-list *ngFor="let vehiculo of vehiculos">
  <div>
    <mat-list-item>
      <div class="itemList">
        <a class="left" >Placa: {{ vehiculo.placa }}</a>
        
        <a *ngIf="vehiculo.recaudo" class="text right">${{ vehiculo.recaudo }}.00</a>
        <div *ngIf="!vehiculo.recaudo" class="right">       
            <button class="btn" mat-stroked-button (click)="checkout($event, vehiculo)">Registrar Salida</button>
        </div>
      </div>
    </mat-list-item>
  </div>
</mat-list>
